html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

/* Visualization - Static */
.visualziation-container {
    position: fixed;
    right: calc(var(--swiper-navigation-size)/ 44 * 27 + 10px);;
    bottom: 18px;
    /* height: 400px;
    width: 400px; */
    background-color: transparent;
    z-index: 2;
}

.visualziation {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;    
    /* -webkit-transition: display 2s;
    transition: display 2s; */
}