html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Varela Round;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}


/* Positioning */
.top-full {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.bottom-full {
    position: relative;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.left-full {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.right-full {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

.flex {
    display: flex;
}

.vertical-center {
    align-items: center;
}

.vertical-top {
    align-items: flex-start;
}

.vertical-bottom {
    align-items: flex-end;
}

.horizontal-center {
    justify-content: center;
}

/* Text */
.title {
    font-size: 41px;
    font-weight: 300;
    line-height: 50px;
}

.sub-title {
    font-size: 28px;
    line-height: 40px;
}

.description {
    font-size: 21px;
    line-height: 28px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a {
    color: #fff;
}


/* Visualization - Static */
.visualziation-container {
    position: fixed;
    left: calc(var(--swiper-navigation-size)/ 44 * 27 + 10px);
    right: calc(var(--swiper-navigation-size)/ 44 * 27 + 10px);
    bottom: 18px;
    background-color: transparent;
    z-index: 2;
}

.visualziation {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;    
    /* -webkit-transition: display 2s;
    transition: display 2s; */
}